body {margin: 0;
      font-family: sans-serif;
      
      
    }

.vertical{
    margin: 0;
    height: 200px;
    width: 350px;
    
    }

.horizontal{
    margin: auto;
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: black;
    margin-top: 50px;
    margin-left: 50px;

    }

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

